<div>
  <h2 id="page-heading" data-cy="StatusColetaHeading">
    <span>Status Coletas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-status-coleta"
        [routerLink]="['/status-coleta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Criar novo Status Coleta</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Pesquisar por Status Coleta</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (statusColetas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Nenhum Status Coleta encontrado</span>
    </div>
  }

  @if (statusColetas && statusColetas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span>Nome</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="cor">
              <div class="d-flex">
                <span>Cor</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="ordem">
              <div class="d-flex">
                <span>Ordem</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estadoInicial">
              <div class="d-flex">
                <span>Estado Inicial</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estadoFinal">
              <div class="d-flex">
                <span>Estado Final</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permiteCancelar">
              <div class="d-flex">
                <span>Permite Cancelar</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permiteEditar">
              <div class="d-flex">
                <span>Permite Editar</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permiteExcluir">
              <div class="d-flex">
                <span>Permite Excluir</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span>Descricao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dataCadastro">
              <div class="d-flex">
                <span>Data Cadastro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuarioCadastro">
              <div class="d-flex">
                <span>Usuario Cadastro</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAtualizacao">
              <div class="d-flex">
                <span>Data Atualizacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuarioAtualizacao">
              <div class="d-flex">
                <span>Usuario Atualizacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="ativo">
              <div class="d-flex">
                <span>Ativo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="removido">
              <div class="d-flex">
                <span>Removido</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataRemocao">
              <div class="d-flex">
                <span>Data Remocao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuarioRemocao">
              <div class="d-flex">
                <span>Usuario Remocao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (statusColeta of statusColetas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/status-coleta', statusColeta.id, 'view']">{{ statusColeta.id }}</a>
              </td>
              <td>{{ statusColeta.nome }}</td>
              <td>{{ statusColeta.cor }}</td>
              <td>{{ statusColeta.ordem }}</td>
              <td>{{ statusColeta.estadoInicial }}</td>
              <td>{{ statusColeta.estadoFinal }}</td>
              <td>{{ statusColeta.permiteCancelar }}</td>
              <td>{{ statusColeta.permiteEditar }}</td>
              <td>{{ statusColeta.permiteExcluir }}</td>
              <td>{{ statusColeta.descricao }}</td>
              <td>{{ statusColeta.dataCadastro | formatMediumDatetime }}</td>
              <td>{{ statusColeta.usuarioCadastro }}</td>
              <td>{{ statusColeta.dataAtualizacao | formatMediumDatetime }}</td>
              <td>{{ statusColeta.usuarioAtualizacao }}</td>
              <td>{{ statusColeta.ativo }}</td>
              <td>{{ statusColeta.removido }}</td>
              <td>{{ statusColeta.dataRemocao | formatMediumDatetime }}</td>
              <td>{{ statusColeta.usuarioRemocao }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/status-coleta', statusColeta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a [routerLink]="['/status-coleta', statusColeta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(statusColeta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (statusColetas && statusColetas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
