<div class="d-flex justify-content-center">
  <div class="col-12">
    <div [formGroup]="editEnderecoForm">
      <jhi-alert-error></jhi-alert-error>

      @if (editEnderecoForm.controls.id.value !== null && editEnderecoForm.controls.id.value !== 0) {
        <div class="mb-3">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
      }

      <div class="row mt-5">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_cep">CEP</label>
            <input type="text" class="form-control" name="cep" id="field_cep" data-cy="cep" formControlName="cep" />
            @if (editEnderecoForm.get('cep')!.invalid && (editEnderecoForm.get('cep')!.dirty || editEnderecoForm.get('cep')!.touched)) {
              <div>
                @if (editEnderecoForm.get('cep')?.errors?.minlength) {
                  <small class="form-text text-danger">Este campo deve ter pelo menos 8 caracteres.</small>
                }
                @if (editEnderecoForm.get('cep')?.errors?.maxlength) {
                  <small class="form-text text-danger">Este campo não pode ter mais de 8 caracteres.</small>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <button id="search-cep" type="button" class="btn btn-primary" (click)="buscarCep()">
            <fa-icon icon="search"></fa-icon>&nbsp;<span>Buscar CEP</span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_endereco">Endereço</label>
            <input type="text" class="form-control" name="endereco" id="field_endereco" data-cy="endereco" formControlName="endereco" />
            @if (
              editEnderecoForm.get('endereco')!.invalid &&
              (editEnderecoForm.get('endereco')!.dirty || editEnderecoForm.get('endereco')!.touched)
            ) {
              <div>
                @if (editEnderecoForm.get('endereco')?.errors?.minlength) {
                  <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                }
                @if (editEnderecoForm.get('endereco')?.errors?.maxlength) {
                  <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_numero">Número</label>
            <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
            @if (
              editEnderecoForm.get('numero')!.invalid && (editEnderecoForm.get('numero')!.dirty || editEnderecoForm.get('numero')!.touched)
            ) {
              <div>
                @if (editEnderecoForm.get('numero')?.errors?.minlength) {
                  <small class="form-text text-danger">Este campo deve ter pelo menos 1 caracteres.</small>
                }
                @if (editEnderecoForm.get('numero')?.errors?.maxlength) {
                  <small class="form-text text-danger">Este campo não pode ter mais de 10 caracteres.</small>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_complemento">Complemento</label>
            <input
              type="text"
              class="form-control"
              name="complemento"
              id="field_complemento"
              data-cy="complemento"
              formControlName="complemento"
            />
            @if (
              editEnderecoForm.get('complemento')!.invalid &&
              (editEnderecoForm.get('complemento')!.dirty || editEnderecoForm.get('complemento')!.touched)
            ) {
              <div>
                @if (editEnderecoForm.get('complemento')?.errors?.minlength) {
                  <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                }
                @if (editEnderecoForm.get('complemento')?.errors?.maxlength) {
                  <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_bairro">Bairro</label>
            <input type="text" class="form-control" name="bairro" id="field_bairro" data-cy="bairro" formControlName="bairro" />
            @if (
              editEnderecoForm.get('bairro')!.invalid && (editEnderecoForm.get('bairro')!.dirty || editEnderecoForm.get('bairro')!.touched)
            ) {
              <div>
                @if (editEnderecoForm.get('bairro')?.errors?.minlength) {
                  <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                }
                @if (editEnderecoForm.get('bairro')?.errors?.maxlength) {
                  <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_bairro">Estado</label>
            <select
              class="form-select"
              name="estado"
              id="field_estado"
              data-cy="estado"
              formControlName="estado"
              [compareWith]="compareEstado"
              (change)="loadCidades()"
            >
              <option [ngValue]="null">Selecione um estado</option>
              @for (estadoOption of estadosSharedCollection; track $index) {
                <option [ngValue]="estadoOption.id">{{ estadoOption.nome }}</option>
              }
            </select>
          </div>
        </div>
        <div class="col">
          <div class="col">
            <div class="mb-3">
              <label class="form-label" for="field_bairro">Cidade</label>
              <select
                class="form-select"
                name="cidade"
                id="field_cidade"
                data-cy="cidade"
                formControlName="cidade"
                [compareWith]="compareCidade"
              >
                <option [ngValue]="null">Selecione uma cidade</option>
                @if (cidadesSharedCollection.length > 0) {
                  @for (cidadeOption of cidadesSharedCollection; track $index) {
                    <option [ngValue]="cidadeOption.id">{{ cidadeOption.nome }}</option>
                  }
                } @else {
                  <option [ngValue]="null">Primeiro selecione um estado</option>
                }
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <button id="add-endereco" type="button" class="btn btn-outline-success" (click)="addEndereco()">
        <fa-icon icon="plus"></fa-icon>&nbsp;<span>Adiconar</span>
      </button>
    </div>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">CEP</th>
          <th scope="col">Endereço</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        @if (enderecos.length > 0) {
          @for (endereco of enderecos; track $index) {
            <tr>
              <td>{{ endereco.cep }}</td>
              <td>{{ endereco.endereco }}</td>
              <td>{{ endereco.bairro }}</td>
              <td>{{ endereco.cidade?.nome }}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-info btn-sm" (click)="edit(endereco)">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="delete(endereco)">
                    <fa-icon icon="trash-alt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="8" class="text-center">Nenhum endereço encontrado</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
