<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (roteirizacao) {
      <div>
        <h2 data-cy="roteirizacaoDetailsHeading"><span>Roteirizacao</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ roteirizacao.id }}</span>
          </dd>
          <dt><span>Data Hora Primeira Coleta</span></dt>
          <dd>
            <span>{{ roteirizacao.dataHoraPrimeiraColeta | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Data Hora Ultima Coleta</span></dt>
          <dd>
            <span>{{ roteirizacao.dataHoraUltimaColeta | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Data Hora Primeira Entrega</span></dt>
          <dd>
            <span>{{ roteirizacao.dataHoraPrimeiraEntrega | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Data Hora Ultima Entrega</span></dt>
          <dd>
            <span>{{ roteirizacao.dataHoraUltimaEntrega | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Valor Total</span></dt>
          <dd>
            <span>{{ roteirizacao.valorTotal }}</span>
          </dd>
          <dt><span>Observacao</span></dt>
          <dd>
            <span>{{ roteirizacao.observacao }}</span>
          </dd>
          <dt><span>Cancelado</span></dt>
          <dd>
            <span>{{ roteirizacao.cancelado }}</span>
          </dd>
          <dt><span>Removido</span></dt>
          <dd>
            <span>{{ roteirizacao.removido }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ roteirizacao.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ roteirizacao.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ roteirizacao.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ roteirizacao.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Status Coleta</span></dt>
          <dd>
            @if (roteirizacao.statusColeta) {
              <div>
                <a [routerLink]="['/status-coleta', roteirizacao.statusColeta.id, 'view']">{{ roteirizacao.statusColeta.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/roteirizacao', roteirizacao.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
