<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fatura-heading" data-cy="FaturaCreateUpdateHeading">Criar ou editar Fatura</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_tipo">Tipo</label>
          <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo" data-cy="tipo">
            <option [ngValue]="null"></option>
            @for (tipoFatura of tipoFaturaValues; track $index) {
              <option [value]="tipoFatura">{{ tipoFatura }}</option>
            }
          </select>
          @if (editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)) {
            <div>
              @if (editForm.get('tipo')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataFatura">Data Fatura</label>
          <div class="d-flex">
            <input
              id="field_dataFatura"
              data-cy="dataFatura"
              type="datetime-local"
              class="form-control"
              name="dataFatura"
              formControlName="dataFatura"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dataFatura')!.invalid && (editForm.get('dataFatura')!.dirty || editForm.get('dataFatura')!.touched)) {
            <div>
              @if (editForm.get('dataFatura')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataFatura')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataVencimento">Data Vencimento</label>
          <div class="d-flex">
            <input
              id="field_dataVencimento"
              data-cy="dataVencimento"
              type="datetime-local"
              class="form-control"
              name="dataVencimento"
              formControlName="dataVencimento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (
            editForm.get('dataVencimento')!.invalid && (editForm.get('dataVencimento')!.dirty || editForm.get('dataVencimento')!.touched)
          ) {
            <div>
              @if (editForm.get('dataVencimento')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataVencimento')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataPagamento">Data Pagamento</label>
          <div class="d-flex">
            <input
              id="field_dataPagamento"
              data-cy="dataPagamento"
              type="datetime-local"
              class="form-control"
              name="dataPagamento"
              formControlName="dataPagamento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numeroParcela">Numero Parcela</label>
          <input
            type="number"
            class="form-control"
            name="numeroParcela"
            id="field_numeroParcela"
            data-cy="numeroParcela"
            formControlName="numeroParcela"
          />
          @if (editForm.get('numeroParcela')!.invalid && (editForm.get('numeroParcela')!.dirty || editForm.get('numeroParcela')!.touched)) {
            <div>
              @if (editForm.get('numeroParcela')?.errors?.min) {
                <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
              }
              @if (editForm.get('numeroParcela')?.errors?.max) {
                <small class="form-text text-danger">Este campo não pode ser maior que 4.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('numeroParcela')?.errors?.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valorTotal">Valor Total</label>
          <input
            type="number"
            class="form-control"
            name="valorTotal"
            id="field_valorTotal"
            data-cy="valorTotal"
            formControlName="valorTotal"
          />
          @if (editForm.get('valorTotal')!.invalid && (editForm.get('valorTotal')!.dirty || editForm.get('valorTotal')!.touched)) {
            <div>
              @if (editForm.get('valorTotal')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              @if (editForm.get('valorTotal')?.errors?.min) {
                <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
              }
              @if (editForm.get('valorTotal')?.errors?.max) {
                <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('valorTotal')?.errors?.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_observacao">Observacao</label>
          <input
            type="text"
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          />
          @if (editForm.get('observacao')!.invalid && (editForm.get('observacao')!.dirty || editForm.get('observacao')!.touched)) {
            <div>
              @if (editForm.get('observacao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('observacao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 500 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataCadastro">Data Cadastro</label>
          <div class="d-flex">
            <input
              id="field_dataCadastro"
              data-cy="dataCadastro"
              type="datetime-local"
              class="form-control"
              name="dataCadastro"
              formControlName="dataCadastro"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dataCadastro')!.invalid && (editForm.get('dataCadastro')!.dirty || editForm.get('dataCadastro')!.touched)) {
            <div>
              @if (editForm.get('dataCadastro')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataCadastro')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioCadastro">Usuario Cadastro</label>
          <input
            type="text"
            class="form-control"
            name="usuarioCadastro"
            id="field_usuarioCadastro"
            data-cy="usuarioCadastro"
            formControlName="usuarioCadastro"
          />
          @if (
            editForm.get('usuarioCadastro')!.invalid && (editForm.get('usuarioCadastro')!.dirty || editForm.get('usuarioCadastro')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioCadastro')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioCadastro')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataAtualizacao">Data Atualizacao</label>
          <div class="d-flex">
            <input
              id="field_dataAtualizacao"
              data-cy="dataAtualizacao"
              type="datetime-local"
              class="form-control"
              name="dataAtualizacao"
              formControlName="dataAtualizacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioAtualizacao">Usuario Atualizacao</label>
          <input
            type="text"
            class="form-control"
            name="usuarioAtualizacao"
            id="field_usuarioAtualizacao"
            data-cy="usuarioAtualizacao"
            formControlName="usuarioAtualizacao"
          />
          @if (
            editForm.get('usuarioAtualizacao')!.invalid &&
            (editForm.get('usuarioAtualizacao')!.dirty || editForm.get('usuarioAtualizacao')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioAtualizacao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioAtualizacao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cancelado">Cancelado</label>
          <input type="checkbox" class="form-check" name="cancelado" id="field_cancelado" data-cy="cancelado" formControlName="cancelado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataCancelamento">Data Cancelamento</label>
          <div class="d-flex">
            <input
              id="field_dataCancelamento"
              data-cy="dataCancelamento"
              type="datetime-local"
              class="form-control"
              name="dataCancelamento"
              formControlName="dataCancelamento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioCancelamento">Usuario Cancelamento</label>
          <input
            type="text"
            class="form-control"
            name="usuarioCancelamento"
            id="field_usuarioCancelamento"
            data-cy="usuarioCancelamento"
            formControlName="usuarioCancelamento"
          />
          @if (
            editForm.get('usuarioCancelamento')!.invalid &&
            (editForm.get('usuarioCancelamento')!.dirty || editForm.get('usuarioCancelamento')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioCancelamento')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioCancelamento')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_removido">Removido</label>
          <input type="checkbox" class="form-check" name="removido" id="field_removido" data-cy="removido" formControlName="removido" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataRemocao">Data Remocao</label>
          <div class="d-flex">
            <input
              id="field_dataRemocao"
              data-cy="dataRemocao"
              type="datetime-local"
              class="form-control"
              name="dataRemocao"
              formControlName="dataRemocao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioRemocao">Usuario Remocao</label>
          <input
            type="text"
            class="form-control"
            name="usuarioRemocao"
            id="field_usuarioRemocao"
            data-cy="usuarioRemocao"
            formControlName="usuarioRemocao"
          />
          @if (
            editForm.get('usuarioRemocao')!.invalid && (editForm.get('usuarioRemocao')!.dirty || editForm.get('usuarioRemocao')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioRemocao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioRemocao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_embarcador">Embarcador</label>
          <select
            class="form-control"
            id="field_embarcador"
            data-cy="embarcador"
            name="embarcador"
            formControlName="embarcador"
            [compareWith]="compareEmbarcador"
          >
            <option [ngValue]="null"></option>
            @for (embarcadorOption of embarcadorsSharedCollection; track $index) {
              <option [ngValue]="embarcadorOption">{{ embarcadorOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_transportadora">Transportadora</label>
          <select
            class="form-control"
            id="field_transportadora"
            data-cy="transportadora"
            name="transportadora"
            formControlName="transportadora"
            [compareWith]="compareTransportadora"
          >
            <option [ngValue]="null"></option>
            @for (transportadoraOption of transportadorasSharedCollection; track $index) {
              <option [ngValue]="transportadoraOption">{{ transportadoraOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contratacao">Contratacao</label>
          <select
            class="form-control"
            id="field_contratacao"
            data-cy="contratacao"
            name="contratacao"
            formControlName="contratacao"
            [compareWith]="compareContratacao"
          >
            <option [ngValue]="null"></option>
            @for (contratacaoOption of contratacaosSharedCollection; track $index) {
              <option [ngValue]="contratacaoOption">{{ contratacaoOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_formaCobranca">Forma Cobranca</label>
          <select
            class="form-control"
            id="field_formaCobranca"
            data-cy="formaCobranca"
            name="formaCobranca"
            formControlName="formaCobranca"
            [compareWith]="compareFormaCobranca"
          >
            <option [ngValue]="null"></option>
            @for (formaCobrancaOption of formaCobrancasSharedCollection; track $index) {
              <option [ngValue]="formaCobrancaOption">{{ formaCobrancaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
