<div>
  <h2 id="page-heading" data-cy="EmbarcadorHeading">
    <span>Embarcadors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-embarcador"
        [routerLink]="['/embarcador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Criar novo Embarcador</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Pesquisar por Embarcador</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (embarcadors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Nenhum Embarcador encontrado</span>
    </div>
  }

  @if (embarcadors && embarcadors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span>Nome</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="cnpj">
              <div class="d-flex">
                <span>Cnpj</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="razaoSocial">
              <div class="d-flex">
                <span>Razao Social</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="inscricaoEstadual">
              <div class="d-flex">
                <span>Inscricao Estadual</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="inscricaoMunicipal">
              <div class="d-flex">
                <span>Inscricao Municipal</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="responsavel">
              <div class="d-flex">
                <span>Responsavel</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="cep">
              <div class="d-flex">
                <span>Cep</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="endereco">
              <div class="d-flex">
                <span>Endereco</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="numero">
              <div class="d-flex">
                <span>Numero</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="complemento">
              <div class="d-flex">
                <span>Complemento</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="bairro">
              <div class="d-flex">
                <span>Bairro</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="telefone">
              <div class="d-flex">
                <span>Telefone</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="observacao">
              <div class="d-flex">
                <span>Observacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dataCadastro">
              <div class="d-flex">
                <span>Data Cadastro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuarioCadastro">
              <div class="d-flex">
                <span>Usuario Cadastro</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAtualizacao">
              <div class="d-flex">
                <span>Data Atualizacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuarioAtualizacao">
              <div class="d-flex">
                <span>Usuario Atualizacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (embarcador of embarcadors; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/embarcador', embarcador.id, 'view']">{{ embarcador.id }}</a>
              </td>
              <td>{{ embarcador.nome }}</td>
              <td>{{ embarcador.cnpj }}</td>
              <td>{{ embarcador.razaoSocial }}</td>
              <td>{{ embarcador.inscricaoEstadual }}</td>
              <td>{{ embarcador.inscricaoMunicipal }}</td>
              <td>{{ embarcador.responsavel }}</td>
              <td>{{ embarcador.cep }}</td>
              <td>{{ embarcador.endereco }}</td>
              <td>{{ embarcador.numero }}</td>
              <td>{{ embarcador.complemento }}</td>
              <td>{{ embarcador.bairro }}</td>
              <td>{{ embarcador.telefone }}</td>
              <td>{{ embarcador.email }}</td>
              <td>{{ embarcador.observacao }}</td>
              <td>{{ embarcador.dataCadastro | formatMediumDatetime }}</td>
              <td>{{ embarcador.usuarioCadastro }}</td>
              <td>{{ embarcador.dataAtualizacao | formatMediumDatetime }}</td>
              <td>{{ embarcador.usuarioAtualizacao }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/embarcador', embarcador.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a [routerLink]="['/embarcador', embarcador.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(embarcador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (embarcadors && embarcadors.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
