<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (estado) {
      <div>
        <h2 data-cy="estadoDetailsHeading"><span>Estado</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ estado.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ estado.nome }}</span>
          </dd>
          <dt><span>Sigla</span></dt>
          <dd>
            <span>{{ estado.sigla }}</span>
          </dd>
          <dt><span>Codigo Ibge</span></dt>
          <dd>
            <span>{{ estado.codigoIbge }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ estado.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ estado.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ estado.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ estado.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/estado', estado.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
