<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tomada-preco-heading" data-cy="TomadaPrecoCreateUpdateHeading">Criar ou editar Tomada Preco</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dataHoraEnvio">Data Hora Envio</label>
          <div class="d-flex">
            <input
              id="field_dataHoraEnvio"
              data-cy="dataHoraEnvio"
              type="datetime-local"
              class="form-control"
              name="dataHoraEnvio"
              formControlName="dataHoraEnvio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dataHoraEnvio')!.invalid && (editForm.get('dataHoraEnvio')!.dirty || editForm.get('dataHoraEnvio')!.touched)) {
            <div>
              @if (editForm.get('dataHoraEnvio')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataHoraEnvio')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prazoResposta">Prazo Resposta</label>
          <input
            type="number"
            class="form-control"
            name="prazoResposta"
            id="field_prazoResposta"
            data-cy="prazoResposta"
            formControlName="prazoResposta"
          />
          @if (editForm.get('prazoResposta')!.invalid && (editForm.get('prazoResposta')!.dirty || editForm.get('prazoResposta')!.touched)) {
            <div>
              @if (editForm.get('prazoResposta')?.errors?.min) {
                <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
              }
              @if (editForm.get('prazoResposta')?.errors?.max) {
                <small class="form-text text-danger">Este campo não pode ser maior que 4.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('prazoResposta')?.errors?.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valorTotal">Valor Total</label>
          <input
            type="number"
            class="form-control"
            name="valorTotal"
            id="field_valorTotal"
            data-cy="valorTotal"
            formControlName="valorTotal"
          />
          @if (editForm.get('valorTotal')!.invalid && (editForm.get('valorTotal')!.dirty || editForm.get('valorTotal')!.touched)) {
            <div>
              @if (editForm.get('valorTotal')?.errors?.min) {
                <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
              }
              @if (editForm.get('valorTotal')?.errors?.max) {
                <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('valorTotal')?.errors?.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_observacao">Observacao</label>
          <input
            type="text"
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          />
          @if (editForm.get('observacao')!.invalid && (editForm.get('observacao')!.dirty || editForm.get('observacao')!.touched)) {
            <div>
              @if (editForm.get('observacao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('observacao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 500 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aprovado">Aprovado</label>
          <input type="checkbox" class="form-check" name="aprovado" id="field_aprovado" data-cy="aprovado" formControlName="aprovado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cancelado">Cancelado</label>
          <input type="checkbox" class="form-check" name="cancelado" id="field_cancelado" data-cy="cancelado" formControlName="cancelado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_removido">Removido</label>
          <input type="checkbox" class="form-check" name="removido" id="field_removido" data-cy="removido" formControlName="removido" />
        </div>

        @if (editForm.controls.createdBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.createdDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        @if (editForm.controls.lastModifiedBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.lastModifiedDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contratacao">Contratacao</label>
          <select
            class="form-control"
            id="field_contratacao"
            data-cy="contratacao"
            name="contratacao"
            formControlName="contratacao"
            [compareWith]="compareContratacao"
          >
            <option [ngValue]="null"></option>
            @for (contratacaoOption of contratacaosCollection; track $index) {
              <option [ngValue]="contratacaoOption">{{ contratacaoOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_transportadora">Transportadora</label>
          <select
            class="form-control"
            id="field_transportadora"
            data-cy="transportadora"
            name="transportadora"
            formControlName="transportadora"
            [compareWith]="compareTransportadora"
          >
            <option [ngValue]="null"></option>
            @for (transportadoraOption of transportadorasSharedCollection; track $index) {
              <option [ngValue]="transportadoraOption">{{ transportadoraOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_roteirizacao">Roteirizacao</label>
          <select
            class="form-control"
            id="field_roteirizacao"
            data-cy="roteirizacao"
            name="roteirizacao"
            formControlName="roteirizacao"
            [compareWith]="compareRoteirizacao"
          >
            <option [ngValue]="null"></option>
            @for (roteirizacaoOption of roteirizacaosSharedCollection; track $index) {
              <option [ngValue]="roteirizacaoOption">{{ roteirizacaoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
