<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editTransportadoraForm">
      <h2 id="jhi-transportadora-heading" data-cy="TransportadoraCreateUpdateHeading">Criar ou editar Transportadora</h2>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <button ngbNavLink>Dados Gerais</button>
          <ng-template ngbNavContent>
            <div class="h4-l border-bottom mt-5 pb-2">Dados Gerais</div>
            <div class="mt-5">
              <jhi-alert-error></jhi-alert-error>

              @if (editTransportadoraForm.controls.id.value !== null) {
                <div class="mb-3">
                  <label class="form-label" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
              }

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
                    @if (
                      editTransportadoraForm.get('nome')!.invalid &&
                      (editTransportadoraForm.get('nome')!.dirty || editTransportadoraForm.get('nome')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('nome')?.errors?.required) {
                          <small class="form-text text-danger">O campo é obrigatório.</small>
                        }
                        @if (editTransportadoraForm.get('nome')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('nome')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_cnpj">CNPJ</label>
                    <input type="text" class="form-control" name="cnpj" id="field_cnpj" data-cy="cnpj" formControlName="cnpj" />
                    @if (
                      editTransportadoraForm.get('cnpj')!.invalid &&
                      (editTransportadoraForm.get('cnpj')!.dirty || editTransportadoraForm.get('cnpj')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('cnpj')?.errors?.required) {
                          <small class="form-text text-danger">O campo é obrigatório.</small>
                        }
                        @if (editTransportadoraForm.get('cnpj')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 14 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('cnpj')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 14 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_razaoSocial">Razão Social</label>
                    <input
                      type="text"
                      class="form-control"
                      name="razaoSocial"
                      id="field_razaoSocial"
                      data-cy="razaoSocial"
                      formControlName="razaoSocial"
                    />
                    @if (
                      editTransportadoraForm.get('razaoSocial')!.invalid &&
                      (editTransportadoraForm.get('razaoSocial')!.dirty || editTransportadoraForm.get('razaoSocial')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('razaoSocial')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('razaoSocial')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_inscricaoEstadual">Inscrição Estadual</label>
                    <input
                      type="text"
                      class="form-control"
                      name="inscricaoEstadual"
                      id="field_inscricaoEstadual"
                      data-cy="inscricaoEstadual"
                      formControlName="inscricaoEstadual"
                    />
                    @if (
                      editTransportadoraForm.get('inscricaoEstadual')!.invalid &&
                      (editTransportadoraForm.get('inscricaoEstadual')!.dirty || editTransportadoraForm.get('inscricaoEstadual')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('inscricaoEstadual')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('inscricaoEstadual')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 20 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_inscricaoMunicipal">Inscrição Municipal</label>
                    <input
                      type="text"
                      class="form-control"
                      name="inscricaoMunicipal"
                      id="field_inscricaoMunicipal"
                      data-cy="inscricaoMunicipal"
                      formControlName="inscricaoMunicipal"
                    />
                    @if (
                      editTransportadoraForm.get('inscricaoMunicipal')!.invalid &&
                      (editTransportadoraForm.get('inscricaoMunicipal')!.dirty || editTransportadoraForm.get('inscricaoMunicipal')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('inscricaoMunicipal')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('inscricaoMunicipal')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 20 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_responsavel">Responsável</label>
                    <input
                      type="text"
                      class="form-control"
                      name="responsavel"
                      id="field_responsavel"
                      data-cy="responsavel"
                      formControlName="responsavel"
                    />
                    @if (
                      editTransportadoraForm.get('responsavel')!.invalid &&
                      (editTransportadoraForm.get('responsavel')!.dirty || editTransportadoraForm.get('responsavel')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('responsavel')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('responsavel')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="h4-l border-bottom mt-5 pb-2">Endereço Cobrança</div>
              <div class="row mt-5">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_cep">CEP</label>
                    <input type="text" class="form-control" name="cep" id="field_cep" data-cy="cep" formControlName="cep" />
                    @if (
                      editTransportadoraForm.get('cep')!.invalid &&
                      (editTransportadoraForm.get('cep')!.dirty || editTransportadoraForm.get('cep')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('cep')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 8 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('cep')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 8 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <button id="search-cep" type="button" class="btn btn-primary" (click)="buscarCep()">
                    <fa-icon icon="search"></fa-icon>&nbsp;<span>Buscar CEP</span>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_endereco">Endereço</label>
                    <input
                      type="text"
                      class="form-control"
                      name="endereco"
                      id="field_endereco"
                      data-cy="endereco"
                      formControlName="endereco"
                    />
                    @if (
                      editTransportadoraForm.get('endereco')!.invalid &&
                      (editTransportadoraForm.get('endereco')!.dirty || editTransportadoraForm.get('endereco')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('endereco')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('endereco')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_numero">Número</label>
                    <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
                    @if (
                      editTransportadoraForm.get('numero')!.invalid &&
                      (editTransportadoraForm.get('numero')!.dirty || editTransportadoraForm.get('numero')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('numero')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 1 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('numero')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 10 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_complemento">Complemento</label>
                    <input
                      type="text"
                      class="form-control"
                      name="complemento"
                      id="field_complemento"
                      data-cy="complemento"
                      formControlName="complemento"
                    />
                    @if (
                      editTransportadoraForm.get('complemento')!.invalid &&
                      (editTransportadoraForm.get('complemento')!.dirty || editTransportadoraForm.get('complemento')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('complemento')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('complemento')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_bairro" data-cy="bairro" formControlName="bairro" />
                    @if (
                      editTransportadoraForm.get('bairro')!.invalid &&
                      (editTransportadoraForm.get('bairro')!.dirty || editTransportadoraForm.get('bairro')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('bairro')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('bairro')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_bairro">Estado</label>
                    <select
                      class="form-select"
                      name="estado"
                      id="field_estado"
                      data-cy="estado"
                      formControlName="estado"
                      [compareWith]="compareEstado"
                      (change)="loadCidades()"
                    >
                      <option [ngValue]="null">Selecione um estado</option>
                      @for (estadoOption of estadosSharedCollection; track $index) {
                        <option [ngValue]="estadoOption.id">{{ estadoOption.nome }}</option>
                      }
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="field_bairro">Cidade</label>
                      <select
                        class="form-select"
                        name="cidade"
                        id="field_cidade"
                        data-cy="cidade"
                        formControlName="cidade"
                        [compareWith]="compareCidade"
                      >
                        <option [ngValue]="null">Selecione uma cidade</option>
                        @if (cidadesSharedCollection) {
                          @for (cidadeOption of cidadesSharedCollection; track $index) {
                            <option [ngValue]="cidadeOption.id">{{ cidadeOption.nome }}</option>
                          }
                        } @else {
                          <option [ngValue]="null">Primeiro selecione um estado</option>
                        }
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_telefone">Telefone</label>
                    <input
                      type="text"
                      class="form-control"
                      name="telefone"
                      id="field_telefone"
                      data-cy="telefone"
                      formControlName="telefone"
                    />
                    @if (
                      editTransportadoraForm.get('telefone')!.invalid &&
                      (editTransportadoraForm.get('telefone')!.dirty || editTransportadoraForm.get('telefone')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('telefone')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 10 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('telefone')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 11 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
                    @if (
                      editTransportadoraForm.get('email')!.invalid &&
                      (editTransportadoraForm.get('email')!.dirty || editTransportadoraForm.get('email')!.touched)
                    ) {
                      <div>
                        @if (editTransportadoraForm.get('email')?.errors?.minlength) {
                          <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                        }
                        @if (editTransportadoraForm.get('email')?.errors?.maxlength) {
                          <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="field_observacao">Observação</label>
                <textarea
                  class="form-control"
                  name="observacao"
                  id="field_observacao"
                  data-cy="observacao"
                  formControlName="observacao"
                  rows="5"
                ></textarea>
                @if (
                  editTransportadoraForm.get('observacao')!.invalid &&
                  (editTransportadoraForm.get('observacao')!.dirty || editTransportadoraForm.get('observacao')!.touched)
                ) {
                  <div>
                    @if (editTransportadoraForm.get('observacao')?.errors?.minlength) {
                      <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                    }
                    @if (editTransportadoraForm.get('observacao')?.errors?.maxlength) {
                      <small class="form-text text-danger">Este campo não pode ter mais de 500 caracteres.</small>
                    }
                  </div>
                }
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <button ngbNavLink>Endereços</button>
          <ng-template ngbNavContent>
            <jhi-endereco-update [tipoEndereco]="TipoEndereco.TRANSPORTADORA"></jhi-endereco-update>
          </ng-template>
        </li>
        <li ngbNavItem>
          <button ngbNavLink>Contas Bancárias</button>
          <ng-template ngbNavContent>
            <jhi-conta-bancaria-update></jhi-conta-bancaria-update>
          </ng-template>
        </li>
        <li ngbNavItem>
          <button ngbNavLink>Tabelas de Frete</button>
          <ng-template ngbNavContent>
            <jhi-tabela-frete-update></jhi-tabela-frete-update>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
