<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-status-coleta-heading" data-cy="StatusColetaCreateUpdateHeading">Criar ou editar Status Coleta</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          @if (editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)) {
            <div>
              @if (editForm.get('nome')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              @if (editForm.get('nome')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('nome')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cor">Cor</label>
          <input type="text" class="form-control" name="cor" id="field_cor" data-cy="cor" formControlName="cor" />
          @if (editForm.get('cor')!.invalid && (editForm.get('cor')!.dirty || editForm.get('cor')!.touched)) {
            <div>
              @if (editForm.get('cor')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('cor')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 8 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ordem">Ordem</label>
          <input type="number" class="form-control" name="ordem" id="field_ordem" data-cy="ordem" formControlName="ordem" />
          @if (editForm.get('ordem')!.invalid && (editForm.get('ordem')!.dirty || editForm.get('ordem')!.touched)) {
            <div>
              @if (editForm.get('ordem')?.errors?.min) {
                <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
              }
              @if (editForm.get('ordem')?.errors?.max) {
                <small class="form-text text-danger">Este campo não pode ser maior que 4.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('ordem')?.errors?.number">Este campo é do tipo numérico.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estadoInicial">Estado Inicial</label>
          <input
            type="checkbox"
            class="form-check"
            name="estadoInicial"
            id="field_estadoInicial"
            data-cy="estadoInicial"
            formControlName="estadoInicial"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estadoFinal">Estado Final</label>
          <input
            type="checkbox"
            class="form-check"
            name="estadoFinal"
            id="field_estadoFinal"
            data-cy="estadoFinal"
            formControlName="estadoFinal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_permiteCancelar">Permite Cancelar</label>
          <input
            type="checkbox"
            class="form-check"
            name="permiteCancelar"
            id="field_permiteCancelar"
            data-cy="permiteCancelar"
            formControlName="permiteCancelar"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_permiteEditar">Permite Editar</label>
          <input
            type="checkbox"
            class="form-check"
            name="permiteEditar"
            id="field_permiteEditar"
            data-cy="permiteEditar"
            formControlName="permiteEditar"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_permiteExcluir">Permite Excluir</label>
          <input
            type="checkbox"
            class="form-check"
            name="permiteExcluir"
            id="field_permiteExcluir"
            data-cy="permiteExcluir"
            formControlName="permiteExcluir"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
          @if (editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)) {
            <div>
              @if (editForm.get('descricao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('descricao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 500 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataCadastro">Data Cadastro</label>
          <div class="d-flex">
            <input
              id="field_dataCadastro"
              data-cy="dataCadastro"
              type="datetime-local"
              class="form-control"
              name="dataCadastro"
              formControlName="dataCadastro"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dataCadastro')!.invalid && (editForm.get('dataCadastro')!.dirty || editForm.get('dataCadastro')!.touched)) {
            <div>
              @if (editForm.get('dataCadastro')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataCadastro')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioCadastro">Usuario Cadastro</label>
          <input
            type="text"
            class="form-control"
            name="usuarioCadastro"
            id="field_usuarioCadastro"
            data-cy="usuarioCadastro"
            formControlName="usuarioCadastro"
          />
          @if (
            editForm.get('usuarioCadastro')!.invalid && (editForm.get('usuarioCadastro')!.dirty || editForm.get('usuarioCadastro')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioCadastro')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioCadastro')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataAtualizacao">Data Atualizacao</label>
          <div class="d-flex">
            <input
              id="field_dataAtualizacao"
              data-cy="dataAtualizacao"
              type="datetime-local"
              class="form-control"
              name="dataAtualizacao"
              formControlName="dataAtualizacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioAtualizacao">Usuario Atualizacao</label>
          <input
            type="text"
            class="form-control"
            name="usuarioAtualizacao"
            id="field_usuarioAtualizacao"
            data-cy="usuarioAtualizacao"
            formControlName="usuarioAtualizacao"
          />
          @if (
            editForm.get('usuarioAtualizacao')!.invalid &&
            (editForm.get('usuarioAtualizacao')!.dirty || editForm.get('usuarioAtualizacao')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioAtualizacao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioAtualizacao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ativo">Ativo</label>
          <input type="checkbox" class="form-check" name="ativo" id="field_ativo" data-cy="ativo" formControlName="ativo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_removido">Removido</label>
          <input type="checkbox" class="form-check" name="removido" id="field_removido" data-cy="removido" formControlName="removido" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataRemocao">Data Remocao</label>
          <div class="d-flex">
            <input
              id="field_dataRemocao"
              data-cy="dataRemocao"
              type="datetime-local"
              class="form-control"
              name="dataRemocao"
              formControlName="dataRemocao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarioRemocao">Usuario Remocao</label>
          <input
            type="text"
            class="form-control"
            name="usuarioRemocao"
            id="field_usuarioRemocao"
            data-cy="usuarioRemocao"
            formControlName="usuarioRemocao"
          />
          @if (
            editForm.get('usuarioRemocao')!.invalid && (editForm.get('usuarioRemocao')!.dirty || editForm.get('usuarioRemocao')!.touched)
          ) {
            <div>
              @if (editForm.get('usuarioRemocao')?.errors?.minlength) {
                <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
              }
              @if (editForm.get('usuarioRemocao')?.errors?.maxlength) {
                <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="field_statusColetaOrigems">Status Coleta Origem</label>
          <select
            class="form-control"
            id="field_statusColetaOrigems"
            data-cy="statusColetaOrigem"
            multiple
            name="statusColetaOrigems"
            formControlName="statusColetaOrigems"
            [compareWith]="compareStatusColeta"
          >
            @for (statusColetaOption of statusColetasSharedCollection; track $index) {
              <option [ngValue]="statusColetaOption">{{ statusColetaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
