<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title">Newcargas</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span>Início</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        @if (account !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <span>
                <fa-icon icon="th-list"></fa-icon>
                <span>Entidades</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/estado"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Estado</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/cidade"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Cidade</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/embarcador"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Embarcador</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/transportadora"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Transportadora</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/banco"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Banco</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/conta-bancaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Conta Bancaria</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tabela-frete"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Tabela Frete</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/endereco"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Endereco</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/forma-cobranca"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Forma Cobranca</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tipo-frete"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Tipo Frete</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tipo-veiculo"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Tipo Veiculo</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tipo-carga"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Tipo Carga</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/solicitacao-coleta"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Solicitacao Coleta</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/nota-fiscal-coleta"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Nota Fiscal Coleta</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/status-coleta"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Status Coleta</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/historico-status-coleta"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Historico Status Coleta</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/roteirizacao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Roteirizacao</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tomada-preco"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Tomada Preco</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notificacao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Notificacao</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/contratacao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Contratacao</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/fatura"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Fatura</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/regiao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span>Regiao</span>
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administração</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>Gerenciamento de usuário</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Métricas</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Estado do Sistema</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuração</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            @if (openAPIEnabled) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                  <span>API</span>
                </a>
              </li>
            }
            <li>
              <a
                class="dropdown-item"
                routerLink="/admin/entity-audit"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="list-alt" [fixedWidth]="true"></fa-icon>
                <span>Entity Audit</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            @if (!account?.imageUrl) {
              <span>
                <fa-icon icon="user"></fa-icon>
                <span>Conta</span>
              </span>
            } @else {
              <span>
                <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (account !== null) {
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/settings"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="settings"
                >
                  <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                  <span>Configuração</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/password"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="passwordItem"
                >
                  <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                  <span>Senha</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span>Sair</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span>Entrar</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/register"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="register"
                >
                  <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                  <span>Criar uma conta</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
