<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cidade) {
      <div>
        <h2 data-cy="cidadeDetailsHeading"><span>Cidade</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ cidade.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ cidade.nome }}</span>
          </dd>
          <dt><span>Codigo Ibge</span></dt>
          <dd>
            <span>{{ cidade.codigoIbge }}</span>
          </dd>
          <dt><span>Estado</span></dt>
          <dd>
            @if (cidade.estado) {
              <div>
                <a [routerLink]="['/estado', cidade.estado.id, 'view']">{{ cidade.estado.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Embarcador</span></dt>
          <dd>
            @if (cidade.embarcador) {
              <div>
                <a [routerLink]="['/embarcador', cidade.embarcador.id, 'view']">{{ cidade.embarcador.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Transportadora</span></dt>
          <dd>
            @if (cidade.transportadora) {
              <div>
                <a [routerLink]="['/transportadora', cidade.transportadora.id, 'view']">{{ cidade.transportadora.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/cidade', cidade.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
