<div class="d-flex justify-content-center">
  <div class="col-12">
    <div class="mt-5" [formGroup]="editTabelaFreteForm">
      <jhi-alert-error></jhi-alert-error>

      @if (editTabelaFreteForm.controls.id.value !== null) {
        <div class="mb-3">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
      }

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_tipoCarga">Tipo de Carga</label>
            <select
              class="form-select"
              id="field_tipoCarga"
              data-cy="tipoCarga"
              name="tipoCarga"
              formControlName="tipoCarga"
              [compareWith]="compareTipoCarga"
            >
              <option [ngValue]="null"></option>
              @for (tipoCargaOption of tipoCargasSharedCollection; track $index) {
                <option [ngValue]="tipoCargaOption">{{ tipoCargaOption.nome }}</option>
              }
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_tipoFrete">Tipo de Veículo</label>
            <select
              class="form-select"
              id="field_tipoVeiculo"
              data-cy="tipoVeiculo"
              name="tipoVeiculo"
              formControlName="tipoVeiculo"
              [compareWith]="compareTipoFrete"
            >
              <option [ngValue]="null"></option>
              @for (tipoVeiculoOption of tipoVeiculosSharedCollection; track $index) {
                <option [ngValue]="tipoVeiculoOption">{{ tipoVeiculoOption.nome }}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_tipoFrete">Tipo de Frete</label>
            <select
              class="form-select"
              id="field_tipoFrete"
              data-cy="tipoFrete"
              name="tipoFrete"
              formControlName="tipoFrete"
              [compareWith]="compareTipoFrete"
            >
              <option [ngValue]="null"></option>
              @for (tipoFreteOption of tipoFretesSharedCollection; track $index) {
                <option [ngValue]="tipoFreteOption">{{ tipoFreteOption.nome }}</option>
              }
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_formaCobranca">Forma de Cobrança</label>
            <select
              class="form-select"
              id="field_formaCobranca"
              data-cy="formaCobranca"
              name="formaCobranca"
              formControlName="formaCobranca"
              [compareWith]="compareFormaCobranca"
            >
              <option [ngValue]="null"></option>
              @for (formaCobrancaOption of formaCobrancasSharedCollection; track $index) {
                <option [ngValue]="formaCobrancaOption">{{ formaCobrancaOption.nome }}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_regiaoOrigem">Região de Origem</label>
            <select
              class="form-select"
              id="field_regiaoOrigem"
              data-cy="regiaoOrigem"
              name="regiaoOrigem"
              formControlName="regiaoOrigem"
              [compareWith]="compareRegiao"
            >
              <option [ngValue]="null"></option>
              @for (regiaoOption of regiaosSharedCollection; track $index) {
                <option [ngValue]="regiaoOption">{{ regiaoOption.nome }}</option>
              }
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_regiaoDestino">Região de Destino</label>
            <select
              class="form-select"
              id="field_regiaoDestino"
              data-cy="regiaoDestino"
              name="regiaoDestino"
              formControlName="regiaoDestino"
              [compareWith]="compareRegiao"
            >
              <option [ngValue]="null"></option>
              @for (regiaoOption of regiaosSharedCollection; track $index) {
                <option [ngValue]="regiaoOption">{{ regiaoOption.nome }}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
            @if (
              editTabelaFreteForm.get('nome')!.invalid &&
              (editTabelaFreteForm.get('nome')!.dirty || editTabelaFreteForm.get('nome')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('nome')?.errors?.required) {
                  <small class="form-text text-danger">O campo é obrigatório.</small>
                }
                @if (editTabelaFreteForm.get('nome')?.errors?.minlength) {
                  <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
                }
                @if (editTabelaFreteForm.get('nome')?.errors?.maxlength) {
                  <small class="form-text text-danger">Este campo não pode ter mais de 150 caracteres.</small>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_leadTime">Lead Time</label>
            <input type="number" class="form-control" name="leadTime" id="field_leadTime" data-cy="leadTime" formControlName="leadTime" />
            @if (
              editTabelaFreteForm.get('leadTime')!.invalid &&
              (editTabelaFreteForm.get('leadTime')!.dirty || editTabelaFreteForm.get('leadTime')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('leadTime')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('leadTime')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 4.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('leadTime')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="field_descricao">Descrição</label>
        <textarea
          class="form-control"
          name="descricao"
          id="field_descricao"
          data-cy="descricao"
          formControlName="descricao"
          rows="5"
        ></textarea>
        @if (
          editTabelaFreteForm.get('descricao')!.invalid &&
          (editTabelaFreteForm.get('descricao')!.dirty || editTabelaFreteForm.get('descricao')!.touched)
        ) {
          <div>
            @if (editTabelaFreteForm.get('descricao')?.errors?.minlength) {
              <small class="form-text text-danger">Este campo deve ter pelo menos 2 caracteres.</small>
            }
            @if (editTabelaFreteForm.get('descricao')?.errors?.maxlength) {
              <small class="form-text text-danger">Este campo não pode ter mais de 500 caracteres.</small>
            }
          </div>
        }
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_freteMinimo">Valor Frete Mínimo</label>
            <input
              type="number"
              class="form-control"
              name="freteMinimo"
              id="field_freteMinimo"
              data-cy="freteMinimo"
              formControlName="freteMinimo"
            />
            @if (
              editTabelaFreteForm.get('freteMinimo')!.invalid &&
              (editTabelaFreteForm.get('freteMinimo')!.dirty || editTabelaFreteForm.get('freteMinimo')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('freteMinimo')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('freteMinimo')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('freteMinimo')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorTonelada">Valor por Tonelada</label>
            <input
              type="number"
              class="form-control"
              name="valorTonelada"
              id="field_valorTonelada"
              data-cy="valorTonelada"
              formControlName="valorTonelada"
            />
            @if (
              editTabelaFreteForm.get('valorTonelada')!.invalid &&
              (editTabelaFreteForm.get('valorTonelada')!.dirty || editTabelaFreteForm.get('valorTonelada')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorTonelada')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorTonelada')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorTonelada')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorMetroCubico">Valor por Metro Cúbico</label>
            <input
              type="number"
              class="form-control"
              name="valorMetroCubico"
              id="field_valorMetroCubico"
              data-cy="valorMetroCubico"
              formControlName="valorMetroCubico"
            />
            @if (
              editTabelaFreteForm.get('valorMetroCubico')!.invalid &&
              (editTabelaFreteForm.get('valorMetroCubico')!.dirty || editTabelaFreteForm.get('valorMetroCubico')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorMetroCubico')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorMetroCubico')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorMetroCubico')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorUnidade">Valor por Unidade</label>
            <input
              type="number"
              class="form-control"
              name="valorUnidade"
              id="field_valorUnidade"
              data-cy="valorUnidade"
              formControlName="valorUnidade"
            />
            @if (
              editTabelaFreteForm.get('valorUnidade')!.invalid &&
              (editTabelaFreteForm.get('valorUnidade')!.dirty || editTabelaFreteForm.get('valorUnidade')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorUnidade')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorUnidade')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorUnidade')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorKm">Valor por KM</label>
            <input type="number" class="form-control" name="valorKm" id="field_valorKm" data-cy="valorKm" formControlName="valorKm" />
            @if (
              editTabelaFreteForm.get('valorKm')!.invalid &&
              (editTabelaFreteForm.get('valorKm')!.dirty || editTabelaFreteForm.get('valorKm')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorKm')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorKm')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorKm')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorAdicional">Valor Adicional</label>
            <input
              type="number"
              class="form-control"
              name="valorAdicional"
              id="field_valorAdicional"
              data-cy="valorAdicional"
              formControlName="valorAdicional"
            />
            @if (
              editTabelaFreteForm.get('valorAdicional')!.invalid &&
              (editTabelaFreteForm.get('valorAdicional')!.dirty || editTabelaFreteForm.get('valorAdicional')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorAdicional')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorAdicional')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorAdicional')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorColeta">Valor por Coleta</label>
            <input
              type="number"
              class="form-control"
              name="valorColeta"
              id="field_valorColeta"
              data-cy="valorColeta"
              formControlName="valorColeta"
            />
            @if (
              editTabelaFreteForm.get('valorColeta')!.invalid &&
              (editTabelaFreteForm.get('valorColeta')!.dirty || editTabelaFreteForm.get('valorColeta')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorColeta')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorColeta')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorColeta')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorEntrega">Valor por Entrega</label>
            <input
              type="number"
              class="form-control"
              name="valorEntrega"
              id="field_valorEntrega"
              data-cy="valorEntrega"
              formControlName="valorEntrega"
            />
            @if (
              editTabelaFreteForm.get('valorEntrega')!.invalid &&
              (editTabelaFreteForm.get('valorEntrega')!.dirty || editTabelaFreteForm.get('valorEntrega')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorEntrega')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorEntrega')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorEntrega')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorTotal">Valor Total</label>
            <input
              type="number"
              class="form-control"
              name="valorTotal"
              id="field_valorTotal"
              data-cy="valorTotal"
              formControlName="valorTotal"
            />
            @if (
              editTabelaFreteForm.get('valorTotal')!.invalid &&
              (editTabelaFreteForm.get('valorTotal')!.dirty || editTabelaFreteForm.get('valorTotal')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorTotal')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorTotal')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorTotal')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="field_valorKmAdicional">Valor do KM Adicional</label>
            <input
              type="number"
              class="form-control"
              name="valorKmAdicional"
              id="field_valorKmAdicional"
              data-cy="valorKmAdicional"
              formControlName="valorKmAdicional"
            />
            @if (
              editTabelaFreteForm.get('valorKmAdicional')!.invalid &&
              (editTabelaFreteForm.get('valorKmAdicional')!.dirty || editTabelaFreteForm.get('valorKmAdicional')!.touched)
            ) {
              <div>
                @if (editTabelaFreteForm.get('valorKmAdicional')?.errors?.min) {
                  <small class="form-text text-danger">Este campo deve ser maior que 1.</small>
                }
                @if (editTabelaFreteForm.get('valorKmAdicional')?.errors?.max) {
                  <small class="form-text text-danger">Este campo não pode ser maior que 10.</small>
                }
                <small class="form-text text-danger" [hidden]="!editTabelaFreteForm.get('valorKmAdicional')?.errors?.number"
                  >Este campo é do tipo numérico.</small
                >
              </div>
            }
          </div>
        </div>
      </div>

      <div class="mb-4">
        <button class="btn btn-outline-success search" [disabled]="editTabelaFreteForm.invalid">
          <fa-icon icon="plus"></fa-icon>
          <span class="d-none d-md-inline">Adicionar</span>
        </button>
        <button class="btn btn-outline-danger" (click)="importModal()">
          <fa-icon icon="file"></fa-icon>
          <span class="d-none d-md-inline">Importar</span>
        </button>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Região de Origem</th>
            <th scope="col">Região de Destino</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          @if (tabelasFrete.length > 0) {
            @for (tabelaFrete of tabelasFrete; track $index) {
              <tr>
                <td>{{ tabelaFrete.nome }}</td>
                <td>{{ tabelaFrete.regiaoOrigem }}</td>
                <td>{{ tabelaFrete.regiaoDestino }}</td>
                <td>{{ tabelaFrete.valorTotal | currency }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-sm" (click)="edit(tabelaFrete)">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(tabelaFrete)">
                      <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
            }
          } @else {
            <tr>
              <td colspan="8" class="text-center">Nenhum endereço encontrado</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
