<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tipoCarga) {
      <div>
        <h2 data-cy="tipoCargaDetailsHeading"><span>Tipo Carga</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ tipoCarga.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ tipoCarga.nome }}</span>
          </dd>
          <dt><span>Descricao</span></dt>
          <dd>
            <span>{{ tipoCarga.descricao }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/tipo-carga', tipoCarga.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
